<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form action="userdata/add" th:object="${date}" method="POST" enctype="utf8">
    <div>
             <p>DataEntry:<input th:field="*{dataEntry}"/> </p>
    </div>
    <div>
              <p>Age: <input th:field="*{age}"/></p>
    </div>
    <div>
              <p>MetabolicAge: <input th:field="metabolicAge"/></p>
    </div>
    <div>
              <p>Kg: <input th:field="*{kg}"/></p>
    </div>
    <div>
              <p>BodyFat: <input th:field="*bodyFat"/></p>
    </div>
    <div>
              <p>Muscle: <input th:field="*muscle"/></p>
    </div>
    <div>
              <p>Hidration Level: <input th:field="*hydrationLevel"/></p>
    </div>

    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>


</body>
</html>