<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>
<!-- include _menu -->
<th:block th:include="/_menu"></th:block>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Entries</h3>
            </div>
            <div class="col">
                <a th:href="@{/userdata/addview}">Add new Entry</a>
            </div>
        </div>

            <body>
            <div class ="container">
            <h2>List of Entries</h2>
            <table class="table table-striped">
         <tr>
            <th>Id </th>
            <th>Data Entry </th>
            <th>Age </th>
            <th>Metabolic Age </th>
            <th>Kg </th>
            <th>Body Fat </th>
            <th>Muscle </th>
            <th>Hydration level </th>

         </tr>

            <tr th:each="data : ${date}">
                <td th:text="${data.getId()}">ID: </td>
                <td th:text="${data.getDataEntry()}">Data Entry: </td>
                <td th:text="${data.getAge()}">Age: </td>
                <td th:text="${data.getMetabolicAge()}">Metabolic Age: </td>
                <td th:text="${data.getKg()}">Kg: </td>
                <td th:text="${data.getBodyFat()}">Body Fat: </td>
                <td th:text="${data.getMuscle()}">Muscle :</td>
                <td th:text="${data.getHydrationLevel()}">Hydration level: </td>
            </tr>

            </table>
            </div>
            </body>


    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>

</div>
</body>
</html>