<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>
<!-- include _menu -->
<th:block th:include="/_menu"></th:block>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Entries</h3>
            </div>
            <div class="col">
                <a th:href="@{/userdata/addview}">Add new Entry</a>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
            <th scope="col">#</th>
            <th scope="col">DataEntry</th>
            <th scope="col">Age</th>
            <th scope="col">MetabolicAge</th>
            <th scope="col">Kg</th>
            <th scope="col">BodyFat</th>
            <th scope="col">Muscle</th>
            <th scope="col">Hydration Level</th>
            </thead>
            <body>
            <tr th:each="data : ${date}">
                <th scope="row"><a th:href="@{'userdata/' + ${date.id}}" th:text="${date.getId}"></a></th>
                <td th:text="${date.getDataEntry()}"></td>
                <td th:text="${date.getAge()}"></td>
                <td th:text="${date.getMetabolicAge()}"></td>
                <td th:text="${date.getKg()}"></td>
                <td th:text="${date.getBodyFat()}"></td>
                <td th:text="${date.getMuscle()}"></td>
                <td th:text="${date.getHydrationLevel()}"></td>
            </tr>
            </body>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>